


<h1>Add New User</h1>
<form action="/admin_users" method="post">
  Email: <input type="text" name="id_email"><br>
  Password: <input type="password" name="password"><br>
  Name: <input type="text" name="name"><br>
  <button type="submit">Submit</button>
</form>

