

<h1>Edit User</h1>
<form action="/admin_users/update/<%= user.uuid %>" method="post">
  Email: <input type="text" name="id_email" value="<%= user.id_email %>"><br>
  Name: <input type="text" name="name" value="<%= user.name %>"><br>
  <button type="submit">Update</button>
</form>

